{%- comment -%}
  Renders a saving badge for the main product price.
  Usage: {% render 'product-save-badge' %}
{%- endcomment -%}
{%- assign compare_at_price = product.selected_or_first_available_variant.compare_at_price -%}
{%- assign price = product.selected_or_first_available_variant.price -%}

{%- if compare_at_price > price -%}
  <span class="product-save-badge" data-main-save-badge>
    {{ section.settings.save_badge_label }} 
    {%- if section.settings.save_badge_type == 'percent' -%}
      {{ compare_at_price | minus: price | times: 100.0 | divided_by: compare_at_price | round }}%
    {%- else -%}
      {{ compare_at_price | minus: price | money }}
    {%- endif -%}
  </span>
{%- endif -%}