<style>
   .main-content {margin:0px;padding:0;}  
   .content-block {padding: 20px 20px 30px;margin-bottom: 20px;}
  .pageWidth {margin-top:50px;}
</style>
{% section 'trackingBanner-maxdesign' %}
<div class="page-width">
  <div class="grid">
    <div class="grid__item medium-up--five-sixths medium-up--push-one-twelfth">
      <div class="section-header text-center"></div>
      <div class="rte">
        {{ page.content }}
      </div>
    </div>
  </div>
</div>
