<style>
@media (min-width:750px){  
 .btnCTA {
  display: block;
  width: 30%;
  height: auto;
  font-family: 'Droid Sans Mono', sans-serif;
  font-size: 16px;
  color: #fff;
  background-color: #000000;
  border-radius: 5px;
  text-align: center;
  line-height: 50px;
  text-decoration: none;
  margin: 10px auto 0;
  font-weight: bold;
  border: solid;
  border-width:2px;
  border-color:#fff;
  -webkit-animation: btnWiggle 5s infinite;
  -moz-animation: btnWiggle 5s infinite;
  -o-animation: btnWiggle 5s infinite;
  animation: btnWiggle 5s infinite;
}
  .btnCTA:hover{
  background-color:#fff;
  color:#000000;
  border-width:2px;
  border-color:#000000;    
}
}
@media (max-width:749px){
  .btnCTA {
  display: block;
  width: 50%;
  height: auto;
  font-family: 'Droid Sans Mono', sans-serif;
  font-size: 16px;
  color: #fff;
  background-color: #000000;
  border-radius: 5px;
  /*box-shadow: 0px 3px 0px #606060;*/
  text-align: center;
  line-height: 50px;
  text-decoration: none;
  margin: 10px auto 0;
  font-weight: bold;
  -webkit-animation: btnWiggle 5s infinite;
  -moz-animation: btnWiggle 5s infinite;
  -o-animation: btnWiggle 5s infinite;
  animation: btnWiggle 5s infinite;
    
}
  .btnCTA:hover{
  background-color:#fff;
  color:#000000;
  border-width:2px;
  border-color:#000000;    
}
  .prof{
    width: 60%;
    margin-top:-10px;
  }
}





.subtext {
  font-family: 'Droid Sans Mono', sans-serif;
  font-size: 14px;
  letter-spacing: .05em;
  text-align: center;
}

/* animation */
@-webkit-keyframes btnWiggle {
  0% {-webkit-transform: rotate(0deg);}
  2% {-webkit-transform: rotate(-1deg);}
  3.5% {-webkit-transform: rotate(1deg);}
  5% {-webkit-transform: rotate(0deg);}
  100% {-webkit-transform: rotate(0deg);}
}
@-o-keyframes btnWiggle {
  0% {-webkit-transform: rotate(0deg);}
  2% {-webkit-transform: rotate(-1deg);}
  3.5% {-webkit-transform: rotate(1deg);}
  5% {-webkit-transform: rotate(0deg);}
  100% {-webkit-transform: rotate(0deg);}
}
@keyframes btnWiggle {
  0% {-webkit-transform: rotate(0deg);}
  2% {-webkit-transform: rotate(-1deg);}
  3.5% {-webkit-transform: rotate(1deg);}
  5% {-webkit-transform: rotate(0deg);}
  100% {-webkit-transform: rotate(0deg);}
}


</style>



{% section 'slideshowilsontparledenous' %}

{% section 'nosarticles' %}

<a class="" href="https://dronetech-pt.com/products/techdrone-pro">
    <div class="btnCTA prof"> Descubra Techdrone PRO</div>
  </a>
  
{% section 'nosvideos' %}
<a class="" href="https://dronetech-pt.com/products/techdrone-pro">
    <div class="btnCTA prof"> Descubra Techdrone PRO</div>
  </a>

{% section 'quotes' %}
{% section 'Trustpilot' %}
{% section 'newsletter' %}
